<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0
  }"
>
  <div class="row">
    <div class="col-xs-12">
      <h3 style="font-weight: bold">
        <div class="pull-left">{{ post.title }}</div>
        <div class="pull-right">
          <small>{{ post.created_at | date: 'short' }}</small>
        </div>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{ post.content }}</p>
      <button class="btn btn-success" (click)="onLike()">Love it!</button>
      &nbsp;
      <button class="btn btn-danger" (click)="onDislike()">
        Don't love it!
      </button>
      <button class="btn btn-danger pull-right" (click)="onRemove()">
        Supprimer post
      </button>
    </div>
  </div>
</li>
